@font-face {
  font-family: karla;
  src: url(/assets/fonts/Karla-VariableFont_wght.ttf);
}
:root {
  --green-lighter: hsl(148, 38%, 91%);
  --green-medium: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --grey-medium: hsl(186, 15%, 59%);
  --grey-darker: hsl(187, 24%, 22%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: var(--green-lighter);
  padding: 1rem;
  font-family: karla, sans-serif, Arial;
  font-weight: 400;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min(40rem, 95vw);
  background-color: white;
  padding: min(3rem, 7vw);
  border-radius: 1rem;

  h1 {
    font-size: clamp(1.5rem, 4vw, 2rem);
    font-weight: 700;
    color: var(--grey-darker);
  }
  label {
    color: var(--grey-darker);
    font-weight: 400;
    cursor: pointer;
  }
  input {
    font-family: karla, sans-serif, Arial;
    font-size: 1rem;
    width: 100%;
    padding: min(0.5rem, 1.5vw) min(1rem, 3vw);
    margin: 0.5rem 0;
    color: var(--grey-darker);
    border: 1px solid var(--grey-medium);
    border-radius: 0.3rem;
    cursor: pointer;
  }
  input:focus {
    cursor: text;
    outline: 1px solid var(--green-medium);
  }
  input:hover {
    border-color: var(--green-medium);
  }
  input[type="radio"],
  input[type="checkbox"] {
    width: auto;
    border-radius: 50%;
  }
  input[type="radio"]:focus,
  input[type="checkbox"]:focus {
    outline: auto;
    cursor: pointer;
  }
}

.username-container {
  display: flex;
  gap: min(1rem, 3vw);

  div {
    width: 50%;
  }
}

.query-type-group {
  border: none;
}
.query-type-container {
  display: flex;
  gap: 0.8rem;
  margin: 0.8rem 0;
  div {
    width: 50%;
    border: 1px solid var(--grey-medium);
    border-radius: 0.5rem;
    padding: min(0.5rem, 1.5vw) min(1rem, 3vw);
    cursor: pointer;
  }
  div label {
    padding: min(0.5rem, 1vw);
  }
  div input {
    accent-color: var(--green-medium);
  }
}

.message-container textarea {
  min-width: 100%;
  max-width: 100%;
  height: 5rem;
  max-height: 10rem;
  padding: min(1rem, 2vw);
  margin: 0.7rem 0;
  border-color: var(--grey-medium);
  border-radius: 0.5rem;
}
.message-container textarea:focus {
  outline: 1px solid var(--green-darker);
}

.agreement-container {
  label {
    padding: min(0.5rem, 1vw);
  }
  input {
    accent-color: var(--green-medium);
    margin-right: min(0.6rem, 1.2vw);
  }
}

.error-state {
  outline: 1px solid var(--red);
}

.error-message {
  color: var(--red);
  display: none;
}

.submit-container input {
  background-color: var(--green-medium);
  color: var(--green-lighter);
  padding: min(1rem, 3vw);
  &:hover {
    background-color: hsl(169, 82%, 17%);
  }
}

@media (max-width: 30rem) {
  .username-container {
    flex-direction: column;
    div {
      width: 100%;
    }
  }
  .query-type-container {
    flex-direction: column;
    gap: 1rem;
    div {
      width: 100%;
    }
  }
}

@media (max-height: 43.75rem) {
  body {
    align-items: flex-start;
    height: auto;
    padding: 1rem 0;
  }
}
